<project>
    <li onclick={ setActive } class=" { selected : getActive } ">
        <i class="fa fa-trash-o trash" aria-hidden="true" onclick={ deleteProject }></i> { title } </li>


    <script>
        console.log(opts);
        this.project_collection = opts.project_collection;


        this.getActive = function() {
            return this.project_collection.getActive(this);
        }

        this.setActive = function() {
            debugger;
            this.project_collection.setActive(this);
        };


        this.deleteProject = function() {
            this.parent.deleteProject(this);
        }

    </script>


</project>
