<project>
    <li onclick={ selectProject } class=" { selected : active } ">
        <i class="fa fa-trash-o trash" aria-hidden="true" onclick={ deleteProject }></i> { title } </li>


    <script>
        this.active = false;

        this.on("update", function() {

            console.log("updating");
            console.log(this);
        })


        this.selectProject = function(el) {
            this.active = !this.active;
            console.log("active is ", this.active)
            if (this.active) {
                console.log("setting active project: ", this);
                this.parent.parent.selectProject(this);
                console.log("set active project: ", this);

            } else
                this.parent.parent.selectProject(false);
        };


        this.deleteProject = function() {
            this.parent.deleteProject(this);
        }

    </script>


</project>
